@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Index";
}
<a asp-action="LogOut" class="btn btn-primary">Çıkış Yap</a>

<h1>Claim Datas</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in User.Claims)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h1>Authentication Datas</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Auth Property key</th>
            <th>Auth Property Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (await Context.AuthenticateAsync()).Properties.Items)
        {
            <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>